<nav>
  <% if host_signed_in? %>
    <%= link_to 'Edit profile', edit_host_registration_path %>
    <%= link_to 'Logout', destroy_host_session_path, method: :delete %>
    <%= link_to 'Manage Experiences', experiences_path %>
  <% elsif traveller_signed_in? %>
    <%= link_to 'Edit profile', edit_traveller_registration_path %>
    <%= link_to 'Logout', destroy_traveller_session_path(@current_traveller), method: :delete %>
  <% else %>
    <%= link_to 'Host Sign up', new_host_registration_path %>
    <%= link_to 'Host Login', new_host_session_path %>
    <%= link_to 'Traveller Sign up', new_traveller_registration_path %>
    <%= link_to 'Traveller Login', new_traveller_session_path %>
  <% end %>
</nav>
