<h1><%= @experience.title %></h1>
<p><%= @experience.description %></p>

<%= link_to "Edit", edit_experience_path(@experience) %>
<%= link_to "Delete", @experience, method: :delete, data: { confirm: "Are you sure you want to delete this experience?" } %>
<%= link_to "Back", experiences_path %>

<%= link_to "Add New Experience", new_experience_path %>
